.main{
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--black-100);
  color: var(--white-100);
  font-family: var(--font-family);
  text-wrap: balance;
  overflow-x: hidden;

  &.menu-open {
    overflow: hidden;
  }
}

img {
  display: block;
}

a {
  color: var(--link-color);
}

code {
  background-color: #e9f1f6;
  padding: 0.2rem;
  border-radius: 4px;
}

pre.code {
  overflow-x: auto;
  background-color: #e9f1f6;
  padding: 1rem;
  border-radius: 4px;
}
