@font-face {
	font-family: Montserrat;
	font-display: swap;
	src: url("../fonts/Montserrat.woff2") format("woff2"), url("../fonts/Montserrat.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
