.none {
	display: none !important;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.no-scroll {
	overflow-y: hidden;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.d-flex {
	display: flex;
}

.flex-center {
	justify-content: center;
}
.full-width-link {
	z-index: 999;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}