:root {
  --container-width: 1260px;
  --container-padding: 15px;

  --font-family: "Montserrat", sans-serif;

  --accent: #6540fb;
  --pink: rgba(210, 64, 251, 0.6);
  --hover: #431ed8;
  --black-100: #000;
  --black-90: rgba(0, 0, 0, 0.9);
  --black-80: rgba(0, 0, 0, 0.8);
  --black-70: rgba(0, 0, 0, 0.7);
  --black-60: rgba(0, 0, 0, 0.6);
  --black-50: rgba(0, 0, 0, 0.5);
  --black-40: rgba(0, 0, 0, 0.4);
  --black-30: rgba(0, 0, 0, 0.3);
  --black-light: #111217;
  --white-100: #fff;
  --white-90: rgba(255, 255, 255, 0.9);
  --white-80: rgba(255, 255, 255, 0.8);
  --white-70: rgba(255, 255, 255, 0.7);
  --white-60: rgba(255, 255, 255, 0.6);
  --white-50: rgba(255, 255, 255, 0.5);
  --white-40: rgba(255, 255, 255, 0.4);
  --white-30: rgba(255, 255, 255, 0.3);
  --white-20: rgba(255, 255, 255, 0.2);
  --white-10: rgba(255, 255, 255, 0.1);
  --button-grey: #263859;
  --purple-40: rgba(73, 38, 216, 0.4);
  --blue-dark: #131922;
  --blue-dark-alt: #25136e;
  --grey-border: #151515;
  --grey-field: #0d0d0d;
  --card-back: #131313;
}
